<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">{{name}}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" aria-current="page" [routerLink]="['/']"
            [routerLinkActive]="['active']">Home</a></li>
        <li class="nav-item"><a class="nav-link" aria-current="page" [routerLink]="['/greeting']"
            [routerLinkActive]="['active']">Greeting</a>
        </li>
        <li class="nav-item"><a class="nav-link" aria-current="page" [routerLink]="['/multtable']"
            [routerLinkActive]="['active']">Mult-table</a>
        </li>
      </ul>
    </div>
  </div>
</nav>