<div class="container-fluid">
  <h1>Greeting</h1>
  <div>São {{getHour()}}h</div>

  <hr>
  <label>Identificação
  <input class="form-control form-control-sm" type="text" [(ngModel)]="name">
  </label>
  <hr>
  <h2>Saudação</h2>
  <p *ngIf="isMorning() && name">Bom dia, {{name}}!</p>
  <p *ngIf="isAfternoon() && name">Boa tarde, {{name}}!</p>
  <p *ngIf="isNight() && name">Boa noite, {{name}}!</p>
  <p *ngIf="isDawn() && name">Vai dormir, {{name}}!</p>

</div>