<div class="container-fluid">
  <h1>Mult-table</h1>
  <hr>
  <label>Número da Tabuada
    <input class="form-control form-control-sm" type="number" [(ngModel)]="number">
  </label>
  <hr>

  <table>
    <tr *ngFor="let item of getMultiplicationTable(); index as i">
      <td>{{number}}</td>
      <td> x </td>
      <td>{{i+1}}</td>
      <td> = </td>
      <td>{{item}}</td>
    </tr>
  </table>

</div>